/* Gotta set these to the window size, since these are used in bounds checks */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}
.elemento_absoluto {
    position: absolute;
}

#ventana_login .modal-content {
    border: 4px solid black;
    border-radius: 20px;
    opacity: 0.8;
}

#icono_ayuda:hover {
    cursor: pointer;
}

#icono_ayuda {
    height: 50px;
    width: 50px;
}

#boton_empezar {
    height: 50px;
    width: 150px;
}

#texto_ayuda {
    display: none;
    font-weight: bold;
    font-family: verdana;
}

#video_camara, #video_camara2 {
    width: 50%;
    height: 100%;
    object-fit: fill;
    visibility: hidden;
}

#video_camara2 {
    /* Move playable area of second player to the right half*/
    left: 50%;
}

.marcador {
    font-size: 50px;
    display: none;
}

#goles_jugador {
    width: calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    text-align: right;
    color: green;
}

#goles_adversario {
    left: calc(50% + 10px);
    left: -webkit-calc(50% + 10px);
    left: -moz-calc(50% + 10px);
    text-align: right;
    color: red;
}

#bloque_jugador, #bloque_jugador2 {
    background-color: lightgray;
    display: none;
    height: 100px;
    width: 100px;
}

#bola {
    width: 100px;
    height: 100px;
    display: none;
}

#bloque_adversario {
    width: 20px;
    height: 200px;
    background-color: white;
    display: none;
}

#imagen_bloque_jugador, #imagen_bloque_jugador2 {
    visibility: hidden;
}

#qr_bottom_left_point_debug {
    background-color: yellow;
}

#qr_top_left_point_debug {
    background-color: orange;
}

#qr_top_right_point_debug {
    background-color: red;
}

#qr_bottom_left_point_debug, #qr_top_left_point_debug,
#qr_top_right_point_debug {
    display: hidden;
}
