html {
	background-color: lightblue;
	height: 100%;
}

#ventana_login {
	position: absolute;
	top: calc(50% - 200px / 2);
	left: calc(50% - 500px / 2);
	background-color: white;
	text-align: center;
	width: 500px;
	height: 200px;
	border: 4px solid black;
	border-radius: 20px;
	font-family: helvetica;
	opacity: 0.6;
}

#boton_empezar {
	background: linear-gradient(to bottom, lightblue, darkblue);
	width: 200px;
	height: 50px;
	border: 2px solid black;
	font-size: 100%;
	color: white;
	font-weight: bold;
}